# IntelliJ IDEA project files
.idea/
*.iml

# Eclipse-specific (prefs, project files)
*.prefs
.project
.classpath

# Java build files
*.class
/target/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Maven & Gradle build directories
.m2/
.gradle/

# Log files
*.log